.frame{
    background: #fff;
    width: 80%;
    height: 600px;
    text-align: center;
    margin-left: 10%;
    margin-top: 5%
}
 h1{
    position: absolute;
    margin-top:2%;
    margin-left: 28%
}
.mensaje{
    position: absolute;
    margin-top:17%;
    margin-left:20%;
    font-weight: bolder;
    

}
.logo{
    position: absolute;
    margin-top:5%;
    margin-left:-1%
}
.laststep{
    position: absolute;
    margin-top:20%;
    margin-left:-10%
}
body{
    background: #000;
    
}
