.frame{
    background: #fff;
    width: 80%;
    height: 600px;
    text-align: center;
    margin-left: 10%;
    margin-top: 5%
}
 #maintitle{
    position: absolute;
    margin-top:2%;
    text-align: center;
}
#mainmessagewelcome{
    position: absolute;
    margin-top:17%;
    margin-left: 25%;
    font-weight: bolder;
    font-size: 150%;}
.logo{
    position: absolute;
    margin-top:5%;
    margin-left:5%
}
.typeParking{
    position: absolute;
    margin-top:21%;
    margin-left:17%
}
body{
    background: #000;
    
}
